

.jumbotron{ 
    top: 100px; 
    margin:100px 30px 100px 30px;
    border-radius:10px;
      background: linear-gradient(
    rgba(0, 0, 250, 0.25), 
    rgba(125, 250, 250, 0.45)
  ),
  url(https://yt3.ggpht.com/ytc/AKedOLT2y4hkt_FsZMoIkho6Vn8jFfGacOYxi2XkvuXL=s900-c-k-c0x00ffffff-no-rj);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:white !important;
  height:1000px;
  }
  
  .page-scroll{
    height:5000px;
  }
  .nav-item{
      color: white;
  }
  .card-body1{
  background: url(../UX_UI_HW_20/images/jumbotron3.png);
  width: 480px;
  height: 480px;
}
 
.card-body2{
    background: url(../UX_UI_HW_20/images/thecapt.png);
    width: 960px;
    height: 480px;
  }
  .nav-link{
    color: white;
}
  .lead{
    font-family:raleway;
    font-weight:1000;
    margin-top:50px;
  }