
body{
    background: rgb(44,111,245);
background: linear-gradient(0deg, rgba(44,111,245,1) 0%, rgba(2,14,96,1) 32%, rgba(10,6,0,1) 99%);
}
h1{
    text-shadow: 0 5px 2px #000;
}
h2{
    text-shadow: 0 5px 2px #000;
}
h3{
    text-shadow: 0 5px 2px #000;
}



h5{
    color:white;
    font-size:x-large;
    text-shadow: 0 5px 2px #000;
}
   
p{
    text-shadow: 0 2px 2px #000;
}

a{
    color:white;
    font-size: 30px;
    text-shadow: 0 10px 10px rgb(197, 236, 23);
  }
  a:hover{
    color: rgb(247, 206, 247);
   
  }


.jumbotron{ 
    top: 100px; 
    margin:10px 30px 10px 30px;
    border-radius:0px;
      background: linear-gradient(
    rgba(0, 0, 250, 0.25), 
    rgba(125, 250, 250, 0.45)
  ),
  url(https://yt3.ggpht.com/ytc/AKedOLT2y4hkt_FsZMoIkho6Vn8jFfGacOYxi2XkvuXL=s900-c-k-c0x00ffffff-no-rj);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:white !important;
  height:1000px;
  }
  
  .page-scroll{
    height:5000px;
  }
  .nav-item{
      color: white;
  }
  .card-body1{
  background: url(../UX_UI_HW_20/images/jumbotron3.png);
  width: 480px;
  height: 480px;
  background-color: black;
}
 
.card-body2{
    background: url(../UX_UI_HW_20/images/thecapt.png);
    width: 960px;
    height: 480px;
    background-color: black;
  }
  .card-body3{
    background: url(../UX_UI_HW_20/images/smaller.png);
    width: 960px;
    height: 630px;
    background-color: black;
  }
  
  .nav-link{
    color: white;
}
.card-link{
    position: absolute;
    bottom: 4rem;
    left: 100px;
}
  .lead{
    font-family:raleway;
    font-weight:1000;
    margin-top:50px;
  }

  .imageonefoot{
    position: relative;
    width: 100%; 
    size: 10%;
    padding: 1px;
    border-radius: 4px;
    background: black;
    box-shadow: black;
  }

  .imagetwofoot{
    position: relative;
    width: 100%; 
    
    size: 10%;
    padding: 1px;
    border-radius: 4px;
    background: black;
    box-shadow: black;
  }
  